<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vokki Mobile App Privacy Policy</title>
</head>
<body>

    <h1>Vokki Mobile App Privacy Policy</h1>

    <h2>1. Introduction</h2>
    <p>Individual developer of the Vokki app, Sofya Noskova (“Developer”) respects your privacy and is committed to protecting it through our compliance with this policy. This policy describes:</p>
    <ul>
        <li>The types of information Vokki mobile app ("App") may collect from you or that you may provide when you use the App.</li>
        <li>The practices for collecting, using, maintaining, protecting, and disclosing that information.</li>
    </ul>

    <h2>2. How and which Information is collected</h2>
    <p>The information is collected from and about users of our App:</p>
    <ul>
        <li>Directly from you when you provide it to us.</li>
        <li>Automatically when you use the App.</li>
    </ul>

    <h2>3. Camera Access</h2>
    <p>Our App requires access to your device's camera to give you an opportunity to scan text with the words you would like to learn with your mobile phone to be able to create flashcards in an automated way. The App will only access the camera with your explicit consent, which you may give when you:</p>
    <ul>
        <li>Download and install the App.</li>
        <li>Use the App’s camera-related features.</li>
    </ul>

    <h2>4. How Your Information is used</h2>
    <p>The information that we collect about you or that you provide to us, including any personal information:</p>
    <ul>
        <li>To provide you with the App and its contents, and any other information, products or services that you request from us.</li>
        <li>To fulfill the purposes for which you provided the information or that were described when it was collected.</li>
        <li>To improve our App and to deliver a better and more personalized service.</li>
    </ul>

    <h2>5. Disclosure of Your Information</h2>
    <p>The aggregated information about our users, and information that does not identify any individual, may be disclosed without restriction. The personal information that was collected or you provide may be disclosed:</p>
    <ul>
        <li>To subsidiaries and affiliates.</li>
        <li>To contractors, service providers, and other third parties the Developer uses to support their business.</li>
        <li>To fulfill the purpose for which you provide it.</li>
        <li>For any other purpose disclosed by the Developer when you provide the information.</li>
        <li>With your consent.</li>
    </ul>

    <h2>6. Data Security</h2>
    <p>The measures have been implemented and designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. The safety and security of your information also depend on you. Where you were given (or where you have chosen) a password for access to certain parts of our App, you are responsible for keeping this password confidential.</p>

    <h2>7. Changes to Our Privacy Policy</h2>
    <p>It is the Developer policy to post any changes that can be made to the privacy policy on this page. If the Developer makes material changes to how they treat our users' personal information, we will not notify you.</p>

    <h2>8. Contact Information</h2>
    <p>To ask questions or comment about this privacy policy and our privacy practices, contact us at: <a href="mailto:sofya.noskova@gmail.com">sofya.noskova@gmail.com</a></p>

</body>
</html>
